VITE_SUPABASE_URL=https://clymcrylhrphqbnetudq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNseW1jcnlsaHJwaHFibmV0dWRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3NjMzMzMsImV4cCI6MjA4MTMzOTMzM30.wD4O93BkpRbvun8zUxCmOcUzLsRCu3QFjUJYtDqkzUs
